<header>
  <section class="hero-container">
    <div class="logo-side">
      <img src="assets\images\logo.webp" alt="Company Logo" class="hero-logo" />
    </div>

    <div class="content-side">
      <h1>Samadhi Therapies</h1>
      <p>By Saba Khan</p>
      <button class="cta-button">Book now</button>
    </div>
  </section>

  <nav class="navbar navbar-expand-lg samadhi-nav">
    <div class="container">
      <a class="samadhi-brand" href="#">Samadhi Therapies</a>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item"><a class="samadhi-link" href="#">Home</a></li>
          <li class="nav-item">
            <a class="samadhi-link" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="samadhi-link" href="#services">Services</a>
          </li>
          <li class="nav-item">
            <a class="samadhi-link" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
