.services-slider-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
  display: block;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
}
.services-slider-wrapper .service-card {
  scroll-snap-align: start;
  flex: 0 0 auto;
  width: 100%;
}

#services-container {
  margin-right: 0;
  margin-left: 0;
  padding-left: 15px;
}

#services-container .col {
  flex: 0 0 85%;
  max-width: 85%;
  scroll-snap-align: center;
}

@media (min-width: 768px) {
  #services-container .col {
    flex: 0 0 45%;
    max-width: 45%;
  }
}

@media (min-width: 1200px) {
  #services-container .col {
    flex: 0 0 30%;
    max-width: 30%;
  }
}
